.booking{
    display: flex;
    padding: 2%;
    max-width: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    /* bottom: 50%; */
    top: 10%;
    left: 10%;
}
.home{
    height: 100vh;
    max-width: 100vw;
    background-image: url('https://woxsen.edu.in/uploads/A20230125013443.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.courtname{
    min-width: 11%;
}
.slots{
    padding: 2%;
    /* max-width: 80%; */
}
.slot{
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.btn{
    border-radius: 0%;
    min-width: 10%;
}

.illu{
    background-image: url("https://img.freepik.com/free-vector/sepak-takraw-athlete-man-action-bicycle-kick-net-cartoon-character_1150-50797.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
}

.slot-button{
    background-color: #198754;
}

.ant-table-content{
    display: flex;
    padding: 2%;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    /* bottom: 50%; */
    top: 10%;
    left: 10%;
}