

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    margin-top: 12px;
    background-color: var(--primary-bg);
  }
  
  @media screen and (max-width: 600px) {
    .main-container {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }