.admin-wrapper{

    background-image: url('https://woxsen.edu.in/uploads/A20230125013443.png');
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
main {
        overflow: hidden;
        min-height: 100vh;
}

:root {
    --primary-bg: rgb(248, 250, 252)
}

.revenue-and-donut-chart-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
  }
  
  @media screen and (max-width: 600px) {
    .revenue-and-donut-chart-card-container {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }