.dashboard-container {
    border: 1.5px solid #8a6f63;
    border-radius: 10px;
    margin: 1.5em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    height: 80vh;
    padding: 1.5em;
    row-gap: 1em;
    column-gap: 2em;
    background-color: #262628;
    color: #f8f8fa;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    align-items: end;
}

.bookings-today-table {
    background-color: #f8f8fa;
    border-radius: 10px;
    grid-area: 2/1/span 5/span 3;
    overflow-y: scroll;
    width: 60vw;
}

.bookings-today-line {
    grid-area: 3 / 4 /span 4;
    background-color: #f8f8fa;
    border-radius: 10px;
    max-height: 40vh;
    padding-bottom: 0.5em;
}

.booking-today-bar {
    grid-area: 1 / 4 /span 2;
    padding-bottom: 0.5em;
    background-color: #f8f8fa;
    max-height: 30vh;
    border-radius: 10px;
}

.booking-today-pie {
    padding-bottom: 0.5em;
    max-height: 20vh;
    border-radius: 10px;
    grid-row-start: 1;
    grid-column-start: 2;
    background-color: #f8f8fa;
}


.chart-title {
    /* border:1px solid red; */
    display: flex;
    padding-left: 1em;
    padding-top: 0.5em;
    font-family: monospace;
}