* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: grey;
}
.onboarding {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("https://woxsen.edu.in/uploads/A20221015102934.jpg");
  background-position: left;
  background-size: cover;
}
.contain {
  display: flex;
  flex-direction: row;
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  overflow: hidden;
}
.welcome-img {
  flex: 3 1 100px;
  border-radius: 20px 0px 0px 20px;
  border: 1px solid white;
}
.welcome-img h1 {
  color: rgba(0, 0, 0, 0.941);
  text-shadow: -1px -1px 0 rgb(213, 255, 98), 1px -1px 0 rgb(213, 255, 98),
    -1px 1px 0 rgb(213, 255, 98), 1px 1px 0 rgb(213, 255, 98);
  font-size: 4.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.5em;
  max-width: 25%;
  padding-left: 0.75em;
}

.login,
.signup {
  flex: 1 1 100px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
  align-items: center;
  width: 30%;
  padding: 2%;
  overflow-y: scroll;
}
.signup {
  flex: 8 1 100px;
}
.errmsg {
  font-size: small;
  font-style: italic;
  text-align: justify;
}
.modal {
  display: block !important;
  background-color: #0009;
}

@media (max-width: 900px) {
  .contain {
    flex-direction: column;
    padding: 2em;
  }
  .login,
  .signup {
    width: 100%;
    border-radius: 0 0 20px 20px;
    flex: 3 1 100px;
  }
  .welcome-img {
    border-radius: 20px 20px 0 0;
    height: 10%;
    flex: 1 1 100px;
  }
  .welcome-img h1 {
    max-width: 90%;
    font-size: 3.5rem;
  }
  .signup {
    padding: 1em;
  }
}

@media (max-width: 429px) {
  .welcome-img h1 {
    max-width: 95%;
    font-size: 3rem;
  }
  .signup {
    padding: 1em;
  }
}
