body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary:#1b4332;
  --secondary:#52b788;
  --light:#b7e4c7;
  --bg:#f6fff7;

  /* --primary:#413768;
  --secondary:#7f6da7;
  --light:#9f86c0;
  --bg:#f4e7fa; */
}

.navbar{
  background-color: var(--primary)!important;
}