p {
  margin: 0 !important;
}
.registration {
  display: flex;
  padding: 2%;
  max-height: 90vh;

  /* background-image: url('https://woxsen.edu.in/uploads/A20230128011131.png'); */
  /* background-image: url('https://woxsen.edu.in/uploads/A20230125013443.png'); */
  /* background-image: url('https://woxsen.edu.in/uploads/A20221015102934.jpg'); */
  /* background-position: left;
  background-size: cover; */
}
.arenas {
  overflow-y: scroll;
}

.date {
  display: block;
  width: 100%;
  padding: 2%;
  margin-bottom: 5%;
  font-size: large;
  background-color: var(--light);
  color: var(--primary);
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.date.selected {
  background-color: var(--primary);
  color: var(--light);
}
.date:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
.arena {
  color: white;
  border-bottom: 2px solid white;
  background: rgb(45, 106, 79);
  background: linear-gradient(
    126deg,
    var(--primary) 0%,
    var(--secondary) 55%,
    var(--light) 100%
  );
  display: flex;
  justify-content: space-between;

  z-index: 4;
  max-height: 20%;
}
.arena .info {
  padding: 2%;
  /* border: 2px solid blue; */
  font-size: larger;
  font-weight: bold;
  justify-content: space-between;
}
.arena .details {
  color: var(--primary);
  font-weight: bold;
  display: flex;
  padding: 1%;
  font-size: smaller;
  justify-content: space-between;
  align-items: center;
}
.dropdown-arena {
  padding: 2%;
  max-height: 60vh;
  display: none;
  text-align: center;
}
.dropdown-arena.selected {
  display: block;
}
.bookmark {
  /* background-image: url("https://i.pinimg.com/736x/d1/02/9a/d1029a26fa5ec24b41f04280f75378ac.jpg");
    background-size: cover; */
  /* background-image: url("https://i.pinimg.com/564x/98/3e/d4/983ed43db74d962e9df6da96e8787b48.jpg");
    background-size: contain; */
  z-index: -1;
}

.btn.submit {
  background-color: var(--primary);
  color: var(--light);
  border-radius: 5px;
}
.btn.submit:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.btn.pink{
    background-color: pink;
}